.nd1{
    color: rgb(0, 0, 0);
    margin-left: 15px;
    text-align: justify; /* Căn đều 2 bên */
    text-indent: 25px; /* Lùi đầu dòng */
}

.img{
margin: 10px 0 0 70px;
}

.img1{
    width: 650px;
    height: 400px;
    border-radius: 5px;
}

.tenanh{
    margin: 10px 0 0 0;
}

@media (max-width: 768px) {
    .img{
        margin: 0px;
        }
}